<%= link_to "all pets", pets_path %>
<div class="container my-5">

  <h1>Found Pet</h1>
  <p>This pet was found on <%= @pet.date_found.strftime(' %A %b %e %Y') %> in <%= @pet.location %></p>

  <%= link_to 'edit this pet', edit_pet_path(@pet) %>
  <p>Remove this pet?</p>
  <%= link_to 'delete', pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Remove pet found on #{@pet.date_found}?"} %>
</div>
